<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashborad</title>
  <link rel="stylesheet" href="/Style/dashboard.css">
  <link rel="icon" href="/Img/logo.png">
</head>
<body>
  <corpo>
    <header>
      <a onclick="redirectToHomePage()">
        <script>
          function redirectToHomePage() {
            window.location.href = "/home"; 
          }
          </script>
        <div id="voltar">
          <img src="/Img/voltar.png">
        </div>
      </a>
      <h1 style="color: red;font-size: 150px;position: absolute;transform: rotate(-45deg);left: 20%;top: 40%;">Coming soon</h1>
      <div id="btnfiltro">
        <p>Filtrar</p>          
      </div>
    </header>
    <aside>
      <div class="content">
        <img src="/Img/absten.png" alt="">
        <img src="/Img/grafico meio.png" alt="">
        <img src="/Img/atendimentos.png" alt="">
      </div>
    </aside>
  </corpo>
</body>
</html>