body {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: black;

    a {
        color: #0216C5;
    }

   .login {
position: relative;
left: 500px;
top: -20px;
font-family: "League Spartan", Helvetica;
font-size: 15px;
font-weight: 600;
line-height: 20px;


}
.login:hover{
    color: aqua;
    font-size: 110%;
}
  input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    position: relative;
    top: 30px;
    left: 211px;
    width: 330px;
    height: 40px;
    padding-left: 15px;
    border: none;
    border-radius: 10px;
}
 .Digite {
    position: relative;
    color: #0216C5;
    font-family: "League Spartan", Helvetica;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    top: 10px;
    left: 176px;
}
#inpemail:hover{
    transform: translateY(-3px);
    ::placeholder{
        font-size: 110%;
    }
}
   .sobrevidas {
    position: relative;
    width: 530px;
    height: 142px;
    top: -370px;
    left: 110px;
    font-family: "Bitter-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
   .Esqueceu {
    position: relative;
    top: 0px;
    left: 218px;
    color: white;
    font-family: "League Spartan-Bold", Helvetica;
    font-size: 40px;
 
}
   .divmaior {
    position: relative;
    background-color: #9BCCFA;
    width: 744px;
    height: 1133px;
    border-radius: 30px;
}
  .LOGO {
    position: relative;
    top: 171px;
    left: 183px;
    

}

.botao {
    position: relative;
    top: 80px;
    left: 211px;
    font-family: "Source Sans Pro-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    background-color: #0216C5;
    border-radius: 27px;
    width: 345px;
    height: 65px;
    border: none;
}
.botao:hover{
    transform: translateY(-3px);
    background-color: blue;
}
}