@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


body{
    background-color: black; 
    display: flex;
    justify-content: center;

}

.divmaior {
    padding-bottom: 80px;
    background-color: #9BCCFA;
    background-image: url(../Imagens/fundoquadrado.png);
    background-size: 100%;
    width: 744px;
    height: 1133px;
    border-radius: 50px;
    padding:20px;
}
menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.header{
    text-align: center;
    color: white;
    font-family: "League Spartan-Bold", Helvetica;
    font-size: 43px;
    font-style: bold;
    font-weight: 900;
    line-height: 125%;    
}
.seta{
    position: relative;

}
#fundobranco{
    background-color: white;
    display: grid;
    border-radius: 25px;
    padding: 50px;
    padding-top: 10px;
}
.containerresultados{
    overflow: hidden;
    overflow-y: scroll;
    border:1px solid black;
    border-radius: 25px;
    padding: 10px;
    height: 620px;
}
.containerresultados::-webkit-scrollbar{
    border-radius: 5px;
    background-color: gray;
    width: 5px;
}
.containerresultados::-webkit-scrollbar-thumb{
    background-color: black;
}
#cardpc:hover{
    background-color: whitesmoke;
}
.info{
    font-size: 20px;
    font-family: "Source Code Pro";
}

.subinfo{
    font-size: 15px;
    font-family: "Source Code Pro";

}

.subinfoid{
    font-size: 10px;
    font-family: "Source Code Pro";
}

#topoinpcpf{
    margin-top: -30px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 20px;
}

#buscarlabel{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 35px;
}

.inp-wrapper{
    margin-left: 0px;
    background-color: #999;
    width: 100%;
    gap:6px;
    padding:8px 12px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.inp-wrapper:hover{
    background-color: #888;
    ::placeholder{
        color: black;
    }
}

.inp-wrapper input{
   background-color: transparent;
   border: none;
   color: white;
   font-size: 20px;
   width: 100%;

}

.inp-wrapper i{
    color: white;
    display: flex;
    justify-content: end;
}
.inp-wrapper input::placeholder{
    color: white;
}

.inp-wrapper input:focus-visible{
    outline: none;
}

.inp-wrapper:hover input{
    color: whitesmoke;
}
cardpass{
    border: 2px solid black;
    padding-left: 10px;
    border-radius: 20px;
    display: grid;
    grid-template: 10px 50px 50px / auto auto;
}
.subcardidsx{
    display: grid;
    
    grid-template: 10px / 35px 180px 30px auto;
}

.subcardtel{
    display: flex;
    gap: 10px;
    place-items: center;
}
#tel{
    font-size: 15px;
}
#cad{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 20px;
}
.seta:hover{
    filter: drop-shadow(5px 5px 5px gray);
}