body{
    display: flex;
    justify-content: center;
    background-color: black;
}
a{
    text-decoration: none;
}
corpo{
    width: 744px;
    display: flex;
    flex-direction: column;
    background-color: #0216C5;
    border-radius: 25px;
    background-image: url(../Img/fundo.png);
}
header{
    display: grid;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 25PX;
    grid-template: 100px / 93px auto auto 115px;
    
}

#altlogo{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    font-size: 35px;
    line-height: 15px;
    color: #0216C5;
}
#logo{
    margin-left: 0px;
}
#altperfil{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 28px;
    color: black;
    margin-top: -10px;
    margin-right: 20px;
}
#altperfil:hover{
    color: gray;
}
#btnsair{
    display: grid;
    align-items: center;
    
}
#btnsair:hover{
    transform: translateY(-2px);
}
aside{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin: 20px;
}
#noticias{
    background-color: white;
    border-radius: 50px;
}
menu{
    height: 186px;
    background-color: white;
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
#cadastro{
    background-color: #0216C5;
    border-radius: 10px;
    width: 123px;
    height: 123px;
    color: white;
    display: grid;
    justify-items: center;
    padding: 10px;
}
#cadastro:hover{
    background-color: blue;
    transform: translateY(-3px);
}
#dashboard{
    background-color: #0216C5;
    border-radius: 10px;
    width: 123px;
    height: 123px;
    padding: 10px;
    color: white;
    display: grid;
    justify-items: center;

}
#dashboard:hover{
    background-color: blue;
    transform: translateY(-3px);
}
#pacientes{
    background-color: #0216C5;
    border-radius: 10px;
    width: 123px;
    height: 123px;
    padding: 10px;
    color: white;
    display: grid;
    padding-bottom: 10px;
    justify-items: center;
}
#pacientes:hover{
    background-color: blue;
    transform: translateY(-3px);

}
#perfil{
    background-color: #0216C5;
    border-radius: 10px;
    width: 123px;
    height: 123px;
    padding: 10px;
    color: white;
    display: grid;
    justify-items: center;
}
#perfil:hover{
    background-color: blue;
    transform: translateY(-3px);
}
