body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
corpo{
    background-color: #79C7FF;
    border-radius: 50px;
    width: 704px;
    background-image: url(../Img/fundo.png);
    padding-inline:20px;

}
header{
    display: grid;
    grid-template: auto/1fr 3fr;
    justify-items: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
#btnvoltar{
    filter: drop-shadow(3px 3px 6px gray);
}
#btnvoltar:hover{
    transform: translateY(-3px);
}
aside{
    margin-top: 200px;
    background-color: white;
    display: grid;
    border-radius: 50px;
    padding-top: 150px;
    margin-inline:-20px;
    padding-bottom: 50px;
}
#foto{
    position: absolute;
    left: 40%;
    top: 25%;
}
h2{
    margin-left: 20px;
    font-size: 25px;
}
h3{
    border: 1px solid black;
    font-size: 18px;
    margin-inline: 20px;
    padding-inline: 15px;
    padding-block: 5px;
    border-radius: 10px;
}
h4{
    border: 1px solid black;
    margin-inline: 20px;
    padding-inline: 15px;
    padding-block: 5px;
    font-size: 18px;
    border-radius: 10px;
}
subinf{
    font-size: 13px;
    color: gray;
}
#cpftel{
    display: grid;
    grid-template: auto / 1fr 1fr;
}
#inecnes{
    display: grid;
    grid-template: auto /1fr 1fr;
}
#cbocns{
    display: grid;
    grid-template: auto /1fr 1fr;
}
#containerstatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#status{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: green;
    font-size: 22px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}